---
---

@import "{{ site.theme }}";

body {
    margin: 50px 200px 100px 200px;
    font-size: 12;
    font-family: 'Architects Daughter', Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

#main_content h1 {
    font-size: 20px;
}

#main_content h2 {
    font-size: 18px;
}
